body{
    background-color: yellow;
}

.div_heading1{
    border-radius: 10px;
    color: yellowgreen;
    width: 500px;
}

.div_heading2{
    border-radius: 10px;
    color: yellowgreen;
    width: 500px;
}

.div_heading3{
    border-radius: 10px;
    color: yellowgreen;
    width: 500px;
}

.div_heading4{
    border-radius: 10px;
    color: yellowgreen;
    width: 500px;
}

.div_heading5{
    border-radius: 10px;
    color: yellowgreen;
    width: 500px;
}